* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.avatar {
width: 25px;
height: 25px;
border-radius: 50%;
}
.header{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    height: 90px ;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px ;
    background-color: white;
    box-shadow: 0px -11px 20px black;
    z-index: 9;

}
ul{
margin: 0px;
padding: 0px; 
  list-style: none; 
}
.links{
    display: flex;
}
.links-item{
    margin-right:20px ;
    
}
.links-item:last-child{
    margin-right:0px ;
}
.link{
    color:gray;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
}
.link:hover{
    color: black;
}  
html,body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}  
.content{
    flex: 1;
    margin-top: 90px;
    position: relative;
}
.footer{
background-color: black;
min-height: 50px;
display: flex;
align-items: center;
justify-content: center;

}
.footer-text{
color: blanchedalmond;
}
.footer-heart{
color: red;
}
.general-info{
    height: 100%;
    background-color: white;
}
.highltighed{
    height: 100%;
    width: 50%;

    opacity: 0.1;
    background-color:cornflowerblue;
}
.info-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-block_greating{
    color: cornflowerblue;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    display: block;
    margin-bottom: 10px;
}
.info-block_name{
    color: black;
    font-weight: bold;
    font-size: 32px;
    display: block;
    margin-bottom: 15px;


}
.info-block_profession{
    color:rebeccapurple;
    text-decoration:underline;
}